.wishlist__title {
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
}

.wishlist__text {
  font-size: 20px;
  margin: 20px 0;
  border: 1px solid #ececea;
  padding: 10px;
}

.wishlist__text span {
  color: #8D99AE;
}