.regular__title {
  font-size: 20px;
  font-weight: 600;
  color: #860020;
}

.regular-block {
  margin-top: 20px !important;
  max-width: 700px !important;
  font-size: 14px;
  color: #8D99AE;
}

.regular-block__text span {
  color: #13cc00;
  font-weight: 700;
}