
.product {
  margin: 20px 0 75px 0 !important;
}

.product-old-price {
  padding-left: 10px;
}

.product-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 43px;
}

//.slick-list {
//  padding-left: 0;
//}
//
//.slick-track {
//  width: 6376px;
//  transform: translate3d(-1296px, 0px, 0px);
//}
//
//.slick-slide {
//  width: 328px !important;
//}

.fa-star {
  width: 14px;
}

.slick-dots {
  display: none !important;
}