.burger-menu__toggle {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    padding: 8px;
    position: relative;
    z-index: 2;
}

.burger-menu__toggle:focus {
    outline: none;
}

.burger-menu__links {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: #15161D;
    z-index: 10;
    padding: 15px 30px 15px 30px;
    right: 18px;
    border-radius: 30px;
}

.burger-menu__links li a {
    color: white;
    margin-bottom: 20px;
}

.burger-menu__icon {
    display: block;
    height: 2px;
    width: 24px;
    position: relative;
    z-index: 1;
}

.burger-menu__icon::before,
.burger-menu__icon::after {
    background: #fff;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: transform 0.2s ease-out;
    width: 100%;
}

.burger-menu__icon::before {
    top: -8px;
}

.burger-menu__icon::after {
    bottom: -8px;
}

.burger-menu__toggle.is-active .burger-menu__icon::before {
    transform: translateY(8px) rotate(45deg);
}

.burger-menu__toggle.is-active .burger-menu__icon::after {
    transform: translateY(-8px) rotate(-45deg);
}
