.price-range-slider {
  &__min-price {
    font-size: 13px;
    color: #8D99AE;
  }

  &__max-price {
    font-size: 13px;
    color: #8D99AE;
  }
}

.price-input {
  border-radius: 5px;
  border: 1px solid #ececea;
  margin-bottom: 10px;
}

.price-range-button {
  position: relative;
  padding: 5px 20px;
  margin-top: 25px ;
  font-size: 15px;
  background: #3991ec;
  border-radius: 10px;
  color: white;
}

