.price-range-slider {
  &__min-price {
    font-size: 13px;
    color: #8D99AE;
  }

  &__max-price {
    font-size: 13px;
    color: #8D99AE;
  }
}

.price-input {
  border-radius: 5px;
  border: 1px solid #ececea;
  margin-bottom: 10px;
}

