
.product {
  margin: 20px 0 75px 0 !important;
}

.product-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 43px;
}

//.slick-list {
//  padding-left: 0;
//}
//
//.slick-track {
//  width: 6376px;
//  transform: translate3d(-1296px, 0px, 0px);
//}
//
//.slick-slide {
//  width: 328px !important;
//}

.fa-star {
  width: 14px;
}

.slick-dots {
  display: none !important;
}

.section-title-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-title {
  font-size: 25px;
}

.add-to-cart-btn-link {
  color: white;
  font-weight: 700;
}


@media (max-width: 768px) {
  .product-title {
    font-size: 15px;
    text-transform: uppercase;
  }
  .section-tab-nav {
    font-size: 15px;
  }
  .section-title-nav {
    display: block;
    margin-bottom: 0;
  }
}

